<!DOCTYPE html>

    <html lang="en">

        <head>
            <meta charset="UTF-8">
            <meta name="viewport"
                  content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
            <meta http-equiv="X-UA-Compatible" content="ie=edge">
            <title>Default</title>

        </head>

        <body>

            <div class="intro-header">

                <div class="container">

                    <div class="row">

                        <div class="col-lg-2"></div>

                        <div class="col-lg-8">

                            <div class="intro-message">

                                <h1 class="animated slideInLeft">Framework for PHP Developers</h1>
                                <h3 class="animated slideInRight"></h3>

                                <ul class="list-inline intro-social-buttons" id="headerButton">
                                    <li>
                                        <a href="https://github.com/alexbmt84/myFramework" target="_blank"><button id="button" class="animated infinite pulse btn btn-info btn-lg"> <span class="network-name">Download on Github</span></button></a>
                                    </li>
                                </ul>

                            </div>

                        </div>

                        <div class="col-lg-2"></div>

                    </div>

                </div>

            </div>

        </body>

    </html>