<!DOCTYPE html>

    <html lang="en">

        <head>
            <meta charset="UTF-8">
            <meta name="viewport"
                  content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
            <meta http-equiv="X-UA-Compatible" content="ie=edge">
            <title>Default</title>

        </head>

        <body>
        <!-- Header Banner -->
        <div class="intro-header">
            <div class="container">

                <div class="row">
                    <div class="col-lg-2"></div>
                    <div class="col-lg-8">
                        <div class="intro-message">
                            <h1 class="animated slideInLeft">Framework for PHP Developers</h1>
                            <h3 class="animated slideInRight"></h3>


                            <ul class="list-inline intro-social-buttons" id="headerButton">
                                <li>
                                    <a href="#" target="_blank"><button id="button" class="animated infinite pulse btn btn-info btn-lg"> <span class="network-name">Download on Github</span></button></a>



                                </li>

                            </ul>

                        </div>
                    </div>
                    <div class="col-lg-2">

                    </div>
                </div>

            </div>
            <!-- /.container -->


        </div>

        <!-- Page Content -->
        <!-- /.content-section-a -->

        <div class="content-section-a">

            <div class="container">

                <div class="row">
                    <div class="col-lg-2"></div>
                    <div class="col-lg-8">
                        <p id="scroll" class="lead">A perfect compliment with the latest modern front-end tools and frameworks</p>
                        <div class="col-lg-2"></div>

                    </div>

                </div>

            </div>
            <!-- /.container -->

        </div>
        <div class="content-section-b">

            <div class="container">

                <div class="row">

                    <div class="test col-md-2">

                        <img class="img-responsive" src="https://d1xwtr0qwr70yv.cloudfront.net/assets/tech/react-3888783e57833a0be00635fba9d9c276.svg" id="responsive" alt=""/>
                        <br />

                    </div>
                    <div class="test col-md-2">
                        <img class="img-responsive" src="https://d1xwtr0qwr70yv.cloudfront.net/assets/tech/js-31616de268520b9f2f107722b3b45195.svg" id="responsive" alt=""/>
                    </div>


                    <div class="test col-md-2">
                        <img class="img-responsive" src="https://d1xwtr0qwr70yv.cloudfront.net/assets/tech/rx-ac0491f35656435edc51ab63e27dea4d.svg" id="responsive" alt=""/>
                    </div>
                    <div class="test col-md-2">
                        <img class="img-responsive" src="https://d1xwtr0qwr70yv.cloudfront.net/assets/tech/node-61a17f4d3c88e9e64c56960ef7eda9be.svg" id="responsive" alt=""/>
                        <br/>
                    </div>
                    <div class="test col-md-2">
                        <img class=" img-responsive" src="https://d1xwtr0qwr70yv.cloudfront.net/assets/tech/elm-f5841b4ff4aead60d97fff53d1b34397.svg" id="responsive" alt=""/>
                    </div>
                    <div class="test col-md-2">
                        <img class=" img-responsive" src="https://d1xwtr0qwr70yv.cloudfront.net/assets/tech/d3-e8f9baa677bcbdc852acad420a53fb4f.svg" id="responsive" alt=""/>
                    </div>

                </div>
                <div class="row">

                    <div class="col-lg-4"></div>
                    <div class="col-lg-4">

                        <a href="#" target="_blank"><button id="buttonMiddle" class="animated bounceInUp btn btn-info btn-lg"> <span class="network-name-2">Getting Started</span></button></a>



                    </div>
                    <div class="col-lg-4"></div>


                </div>



            </div>

        </div>
        <div class="content-section-c">

            <div class="container">

                <div class="row">
                    <div class="col-lg-2"></div>
                    <div class="col-lg-8">
                        <p class="lead-white">Critter has the best vector graphics framework, period. It's made my life way easier.</p>

                    </div>

                    <div class="col-lg-2"></div>

                </div>
                <div class="row">
                    <div class="col-lg-2"></div>
                    <div class="col-lg-8">
                        <p class="desc-white">- Mike Mangialardi</p>

                    </div>

                    <div class="col-lg-2"></div>

                </div>
            </div>
            <!-- /.container -->

        </div>

        <div class="content-section-a">

            <div class="container">

                <div class="row">
                    <div class="col-lg-2"></div>
                    <div class="col-lg-8">
                        <p class="lead">Get a Boost</p>
                        <p class="desc2">
                            Critter.js is like coffee in the moring, it gives your web app a boost.<br/><br/>View our tutorials to get started.</p><br/>

                        <img class="animated infinite pulse courseImg img-responsive" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/827672/critter%20brand.png" alt=""/>


                        <a href="#"><button id="buttonMiddle" class="animated bounceInUp btn btn-info btn-lg"> <span class="network-name-2">View Tutorials</span></button></a>

                    </div>
                    <div class="col-lg-2"></div>
                </div>

            </div>
            <!-- /.container -->

        </div>

        <!-- /.content-section-e -->

        <div class="content-section-e">

            <div class="container">

                <div class="row">
                    <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">

                        <div class="clearfix"></div>
                        <h2 class="lead2">Seamless Integration</h2>

                        <hr class="section-heading-spacer">
                        <div class="clearfix"></div>

                        <p class="desc3">Simply add our CDN and make vector graphics using pure JavaScript.</p>

                    </div>
                    <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                        <img class="descImg img-responsive" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/827672/critter%20desc.png" alt=""/>
                    </div>
                </div>

            </div>
            <!-- /.container -->

        </div>
        <div class="content-section-f">

            <div class="container">

                <div class="row">
                    <div class="col-lg-5 col-sm-6">



                        <h2 class="lead2">Detailed Documentation</h2>
                        <hr class="section-heading-spacer">
                        <div class="clearfix"></div>

                        <p class="desc3">From blogs, tutorials, and plenty more detailed documentation to get you on the path to success.</p>
                        <a href="#"><button id="buttonBottom" class="animated bounceInUp btn btn-info btn-lg"> <span class="network-name-2">View on Github</span></button></a>


                    </div>
                    <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                        <img class="descImg2 img-responsive" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/827672/critter%20check.png" alt="">
                    </div>
                </div>

            </div>
            <!-- /.container -->

        </div>
        <div class="content-section-d">

            <div class="container">

                <div class="row">
                    <div class="col-lg-2">
                        <a href="#"><p class="foot-text navbar-left">Getting Started</p></a>
                        <a href="#"><p class="foot-text navbar-left">Documentation</p></a>
                        <a href="#"><p class="foot-text navbar-left">Tutorials</p></a>
                        <a href="#"><p class="foot-text navbar-left">Our Github</p></a>
                        <br/>
                    </div>
                    <div class="col-lg-8">


                    </div>

                    <div class="col-lg-2">
                        <a href="http://www.mikemangialardi.de/">
                            <p class="foot-text navbar-left">design by</p>
                            <p class="foot-text2 navbar-left"> mike mangialardi</p> </a>
                        <p class="foot-text navbar-left">Mt Airy, NC</p>

                        <div></div>

                    </div>

                </div>

            </div>
            <!-- /.container -->

        </div>


        </body>

    </html>